<div class= "center jumbotron">
<h1>Articles</h1>
 

 
  <% @articles.each do |article| %>
    
    <div class="article-container">
      <%= article.title %>
      <br>
      <%= article.text %>
    </div>  
    <div class= "article-nav">
      <%= link_to 'Show', article_path(article), class:"article-nav"   %> |
       <%= link_to 'Edit', edit_article_path(article), class:"article-nav" %> |
       <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' },class:"article-nav" %>
    </div>
  <% end %>
  <div class="new-article">
  <%= link_to 'New article', new_article_path, class:"btn btn-lg btn-primary" %>
  </div>


</div>