<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
    <%=render 'layouts/header'%>
     </nav>
      </div>
    </header>
  	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
   <div  class="container">
    <%= link_to image_tag("devbootcamp.png", alt: "dbc logo"),
            'http://bmaoakland.startupweekend.org/files/2014/02/devbootcamp.png' %>
    <%= yield %>
 
     </div>
  </body>
</html>
